<div>


<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="parentContainer">
<div class="leftContainer">
  <form (ngSubmit)="onSubmit()" #pubNubApiForm="ngForm" ng-init="model=''">
    <div class="form-group">
      <label for="publishKey">Publish Key :</label>
      <input [disabled]="subscribeFlag" [(ngModel)]="model.publishKey" type="text" class="form-control" id="publishKey" required name="publishKey"  #publishKey="ngModel">
      <div [hidden]="publishKey.valid || publishKey.pristine || publishKey.dirty"
           class="alert alert-danger">
        Publish Key is required
      </div>
    </div>

    <div class="form-group">
      <label for="subscriberKey">Subscriber Key :</label>
      <input [disabled]="subscribeFlag" [(ngModel)]="model.subscriptionKey" type="text" class="form-control" id="subscriberKey" required name="subscriberKey" #subscriberKey="ngModel">


      <div [hidden]="subscriberKey.valid || subscriberKey.pristine || subscriberKey.dirty"
           class="alert alert-danger">
        Subscriber Key is required
      </div>
    </div>

	<div class="splitContainer">
     <div class="form-group" class="left-col">
      <label for="channelName">Channel Name :</label>
      <input [disabled]="subscribeFlag" [(ngModel)]="model.channel" type="text" class="form-control" id="channelName" required name="channelName" #channelName="ngModel">
      <div [hidden]="channelName.valid || channelName.pristine || channelName.dirty"
           class="alert alert-danger">
        channel Name required
      </div>
    </div>
	<div class="right-col publishButton">
		<button type="button" [disabled]="subscribeFlag || !model.channelGroup" class="btn btn-default" (click)="addChannelToGroup(model)">Add Channel to Group</button>
	</div>
	</div>
	

    <div class="form-group">
      <label for="channelName">Channel Group :</label>
      <input [disabled]="subscribeFlag" [(ngModel)]="model.channelGroup" type="text" class="form-control" id="channelGroup" name="channelGroup">
    </div>
	
    <div class="form-group">
      <label for="filter">Filter :</label>
      <input [disabled]="subscribeFlag" [(ngModel)]="model.filter" type="text" class="form-control" id="filter" name="filter" #filter="ngModel">
    </div>


    <button type="button" [disabled]="subscribeFlag || !model.channel" class="btn btn-default" (click)="subscribe(model,false)">Subscribe to Channel</button>
	<button type="button" [disabled]="subscribeFlag || !model.channel" class="btn btn-default" (click)="subscribe(model,true)">Subscribe to Group</button>
    <button type="button" [disabled]="!subscribeFlag" class="btn btn-default" (click)="unSubscribe()">Un Subscribe</button>

    <!-- <button type="button" [disabled]="!model.channel || subscribeFlag" class="btn btn-default" (click)="removeChannel(model.channel)">Remove Channel</button> -->
    <button type="button" [disabled]="subscribeFlag" class="btn btn-default" (click)="removeFilter(model.filter)">Remove Filter</button>

    <div class="form-group">
      <label for="filter">Time Token :</label>
      <input readonly [(ngModel)]="model.timeToken" type="text" class="form-control" name="timeToken">
    </div>

  </form>
</div>

<div class="rightContainer">
  <p>
    Subscription Messages:
  </p>
<!--  <textarea cols="75" rows="10" readonly [(ngModel)]="subscribedMessage" (ngModelChange)="parseTextArea()"></textarea> -->
  <div class="subscriptionDiv" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ul  *ngFor="let item of subscribedMessage">
      <li>{{ item }}</li>
    </ul>
  </div>
 
 <div class="splitContainer">
  <div class="left-col publishButton">
  <button type="button" [disabled]="model.message=='' || !subscribeFlag" class="btn btn-default" (click)="publish(model)">Publish</button>
  </div>
  <div class="right-col">
   <div class="form-group">
      <label for="filter">Meta Data :</label>
      <input [(ngModel)]="model.metaData" type="text" class="form-control" name="metaData">
    </div>
  </div>
  </div>
 <p>
    Message to be Published:
  </p>
  <textarea cols="75" rows="10" [(ngModel)]="model.message" class="form-control" required ></textarea>



</div>
</div>
